/********************* Reset **********************/
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

:root{
    --ligth-color: rgb(176 233 255);
    --dark-color: rgb(32 126 163);
    --bg-color: rgb(25, 26, 26);
    --color-posible: rgb(110, 11, 11);
    --width-game: min(85vh, 85vw);
    --danger-color: rgb(255, 41, 41);
}

body{
    background-color: var(--bg-color) ;
    color: #eee;
}

h1{
    display: block;
    margin: 1em auto;
    font-size: 1.3em;
}

/********************* Components **********************/
.btn{
    display: block;
    padding: .5em 1em;
    margin: 0 auto;
    border-radius: 100vh;
    background-color: transparent;
    color: var(--ligth-color);
    border: solid .1em var(--ligth-color);
    color: inherit;
    cursor: pointer;
    transition: .2s linear;
    transition-property: background-color, color, opacity;
}
.btn:hover{
    background-color: var(--ligth-color);
    color: var(--dark-color);

}

.btn-danger{
    background-color: var(--danger-color);
    color: inherit;
    transition: box-shadow .2s linear;
    border: none;
}
.btn-danger:hover{
    box-shadow: 0 0 .5em var(--danger-color);
    background-color: var(--danger-color);
    color: inherit;
}

.form{
    display: block;
    padding: 1em;
    width: 100%;
}
.form-title{
    display: block;
    margin: 2em auto;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
.form-label{
    display: block;
    width: min(17em, 80%);
    margin: 1em auto;
}
.form-input{
    display: block;
    width: min(20em, 90%);
    margin: 1em auto;
    padding: .5em 1em;
    background-color: transparent;
    border-radius: 100vh;
    border: solid thin var(--ligth-color);
    color: inherit;
}
.form-select{
    display: block;
    margin: .5em auto;
    padding: .2em .5em;
    background-color: transparent;
    color: var(--ligth-color);
    transition: .2s linear color, .2s linear background-color;
    border: solid thin var(--ligth-color);
    border-radius: 100vh;
    outline: none;
}
.form-select option{
    background-color: var(--bg-color);
}
.form-input::placeholder{
    color: var(--ligth-color);
}
.form-info{
    display: block;
    text-align: center;
    font-size: .9em;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 2;
}
.form .btn{
    margin: 1em auto;
}

.list{
    display: block;
    width: 100%;
    padding: .5em;
}
.list-title{
    display: block;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
}
.list-item{
    display: flex;
    margin: 1em auto;
    padding: .3em 1em;
    border: solid thin var(--ligth-color);
    border-radius: .3em;
    align-items: center;
    justify-content: space-between;
}
.list-item-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item .btn{
    display: block;
    margin: .5em 1em;
}


.modal{
    display: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.8);
    backdrop-filter: blur(3px);
    z-index: 30;
    overflow: hidden;
    transform: translateX(-100vw);
    transition: transform .2s ease-in-out; 
}
.modal-active{
    display: block;
    transform: translateX(0) scale(1);
}
.modal-header{
    display: flex;
    padding: .5em;
    align-items: center;
    justify-content: space-around;
}
.modal-title{
    display: block;
    max-width: 70vw;
    font-size: 1.3em;
}
.modal-close{
    display: block;
    margin: 0 1em;
    padding: .3em;
    background-color: transparent;
    color: var(--ligth-color);
    border: none;
    font-size: 1.3em;
    cursor: pointer;
}
.modal-close:hover{
    text-shadow: 0 0 .3em var(--dark-color);
}
.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2em auto;
    padding: 1em;
    border-radius: .3em;
    width: 70%;
    height: 70%;
    line-height: 1.3;
    background-color: rgb(19, 19, 19);
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-information{
    display: block;
    padding: 1em;
    text-align: center;
    width: 80%;
    margin: 2em auto;
    font-size: 1.3em;
}

/********************* Styles **********************/
.ajedrez-contenedor{
    position: relative;
    display: grid;
    /* width: fit-content; */
    width: calc(var(--width-game) + 1em);
    grid-template-columns: 1em 1fr;
    grid-template-rows: 1fr 2em;
    margin: 0 auto;
    user-select: none;
}
.ajedrez-cols{
    display: flex;
    width: 1em;
    justify-content: space-around;
    flex-direction: column;
    height: var(--width-game);
    color: var(--ligth-color);
}

.ajedrez-columns{
    display: flex;
    justify-content: space-around;
    height: 1em;
    line-height: 1.5;
    margin-left: 1em;
    width: var(--width-game);
    color: var(--ligth-color);
}

.ajedrez-options{
    display: flex;
    width: var(--width-game);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header{
    display: flex;
    padding: .5em 1em;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    gap: 1em 0;
}
.header .form-select{
    margin-left: 1em;
}
.header-logo{
    display: block;
    font-size: 1.3em;
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.header-section{
    display: flex;
    align-items: center;
}
.header-section-turno{
    --turno-color: var(var(--ligth-color));
    display: block;
    margin: auto .5em;
    width: 1.5em;
    aspect-ratio: 1/1;
    border-radius: 100vh;
    background-color: var(--turno-color, var(--ligth-color));
    transition: background-color .2s linear;
}


.tablero{
    position: relative;
    display: grid;
    margin: 0 auto;
    width: var(--width-game);
    aspect-ratio: 1/1;

    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 1fr);

    background-color: #fff;
    overflow: hidden;
    font-size: calc(var(--width-game) / (8 * 1.5));
}

.juego-fila{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
.juego-cuadro{
    position: relative;
    display: grid;
    width: 100%;
    aspect-ratio: 1/1;
    place-items: center;
    color: rgb(0, 0, 0);
    background-color: var(--ligth-color);
    overflow: hidden;
    transition: opacity .2s linear, background-color .2s ease-in-out;
}
.juego-cuadro:hover{
    filter: invert(.2);
}
.juego-ficha{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    transition: box-shadow .2s linear;
}
.fila-impar > div:nth-child(odd), .fila-par > div:nth-child(even){
    background-color: var(--dark-color);
}
.foco{
    outline: dashed 2.3px var(--color-posible);
    z-index: 1;
}
.posible-cuadro::after{
    position: absolute;
    content: '';
    opacity: .8;
    pointer-events: none;
    display: block;
    width: calc(var(--width-game) / (8 * 4));
    height: calc(var(--width-game) / (8 * 4));
    border-radius: 50%;
    background-color: var(--color-posible);
    z-index: 1;
}

.up-pieze{
    transition: opacity .2s linear;
    box-shadow: inset 0 0 .5em var(--color-posible);
}
.jaque{
    background-color: var(--color-posible);
    background-color: var(--danger-color);
}


/********************* Responsive **********************/


@media screen and (max-width: 1000px){
    html{
        font-size: 14px;
    }
}


@media screen and (max-width: 500px){
    html{
        font-size: 12px;
    }
    .btn{
        margin-top: .5em;
    }
    .header{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .header-logo{
        text-align: center;
        flex-basis: 100%;
    }
}




